<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
<title>bgmtools</title>

<link rel="shortcut icon" href="http://bgm.tv/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="http://bgm.tv/img/ico/ico_ios.png">

<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body class="bangumi">
<div id="wrapperNeue" class="wrapperNeue">
<div id="headerNeue2">
<div class="headerNeueInner clearit">
<div class="bg musume_{{dic.rand}}"></div>
<a href="https://bgm.tv" class="logo">Bangumi 番组计划</a>
<div id="navNeue2">
<div id="menuNeue">
<ul id="navMenuNeue" class="clearit">
<li><a class="top" style="width: 244px;"></a></li>
<li><a href="/bgmtools/contrast" class="top focus"><span>对比</span></a></li>
<li><a href="/bgmtools/multitag" class="top"><span>多标签</span></a></li>
<li><a href="/bgmtools/review" class="top"><span>时光机</span></a>
<div class="clear"></div><ul class="clearit">
<li><a href="/bgmtools/review/chart" class="nav">评分走势图</a></li>
<li><a href="/bgmtools/review/list" class="nav">历史排行榜</a></li>
</ul>
</li>
</ul>
</div>
</div>
<div id="headerSearchWrapper">
<div id="headerSearch">
<form method="post">
    {% csrf_token%}
<div class="inner">
<select name="cat" id="siteSearchSelect">
<option value="anime" {% if dic.cat == 'anime' %} selected="selected" {% endif %} >动画</option>
<option value="book" {% if dic.cat == 'book' %} selected="selected" {% endif %} >书籍</option>
<option value="game" {% if dic.cat == 'game' %} selected="selected" {% endif %} >游戏</option>
<option value="music" {% if dic.cat == 'music' %} selected="selected" {% endif %} >音乐</option>
<option value="real" {% if dic.cat == 'real' %} selected="selected" {% endif %} >三次元</option>
</select>
<input id="search_text" name="search_text" class="textfield" type="text">
<input type="submit" name="submit" value="开始" class="search">
</div>
</form>
</div>
</div>
</div>
</div>
<div id="main" class="png_bg"></div>

    {% if 'a' in dic %}

<table>
<tr><td>
<div id="headerProfile" class="clearit" style="width:700px">
<div class="subjectNav">
<div class="headerContainer" style="height: 70px">
<h1 class="nameSingle" style="width:700px">
<div class="headerAvatar">
<a href="https://bgm.tv/user/{{dic.a}}" class="avatar"><span class="avatarNeue avatarSize75" style="background-image:url('//{{dic.avatara}}')"> </span></a>
</div>
<div class="inner" style="width:700px">
<a href="https://bgm.tv/user/{{dic.a}}">{{dic.nicka}}</a> <small class="grey">@{{dic.a}}</small>
</div>
</h1>
</div>
</div>
</div>
</td>

<td>
<div id="headerProfile" class="clearit" style="width:600px">
<div class="subjectNav">
<div class="headerContainer" style="height: 70px">
<h1 class="nameSingle" style="width:600px">
<div class="headerAvatar">
<a href="https://bgm.tv/user/{{dic.b}}" class="avatar"><span class="avatarNeue avatarSize75" style="background-image:url('//{{dic.avatarb}}')"> </span></a>
</div>
<div class="inner" style="width:600px">
<a href="https://bgm.tv/user/{{dic.b}}">{{dic.nickb}}</a> <small class="grey">@{{dic.b}}</small>
</div>
</h1>
</div>
</div>
</div>
</td>
</tr>
</table>
<div class="columns clearit">
  <div id="columnSubjectBrowserA" class="column">
    <ul id="browserItemList" class="browserFull">
     <table>
         {% if dic.timeout == 1 %}
             <tr><td><div id="colunmNotice2"><h2>Warning:部分页面在爬取时出现超时，结果可能存在遗漏！</h2></div></td><td></td></tr>
         {% endif %}
         <tr><td><div id="colunmNotice2"><h2>共同好评</h2></div></td><td></td></tr>
         {% for info in dic.info0%}
     <tr><td>
      <li id="item_{{info.0}}" class="item odd clearit"> <a href="https://bgm.tv/subject/{{info.0}}" class="subjectCover cover ll"> <span class="image"> <img src="{{info.1}}" class="cover"> </span> <span class="overlay"></span> </a>
        <div class="inner">
          <h3> <a href="https://bgm.tv/subject/{{info.0}}" class="l">{{info.2}}</a> <small class="grey">{{info.3}}</small> </h3>
          <p class="info tip"> {{info.12}} </p>
          <p class="collectInfo"> <span class="{{info.4}}"></span> <span class="tip_j">{{info.8}}</span> <span class="tip_i">/</span><span class="tip"> {{info.6}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.10}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td><td>
     <li id="item_{{info.0}}">
        <div class="inner">
          <p class="collectInfo"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="{{info.5}}"></span> <span class="tip_j">{{info.9}}</span> <span class="tip_i">/</span><span class="tip"> {{info.7}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.11}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td></tr>
         {% endfor %}
         <tr><td><div id="colunmNotice2"><h2>共同差评</h2></div></td><td></td></tr>
         {% for info in dic.info1%}
     <tr><td>
      <li id="item_{{info.0}}" class="item odd clearit"> <a href="https://bgm.tv/subject/{{info.0}}" class="subjectCover cover ll"> <span class="image"> <img src="{{info.1}}" class="cover"> </span> <span class="overlay"></span> </a>
        <div class="inner">
          <h3> <a href="https://bgm.tv/subject/{{info.0}}" class="l">{{info.2}}</a> <small class="grey">{{info.3}}</small> </h3>
          <p class="info tip"> {{info.12}} </p>
          <p class="collectInfo"> <span class="{{info.4}}"></span> <span class="tip_j">{{info.8}}</span> <span class="tip_i">/</span><span class="tip"> {{info.6}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.10}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td><td>
     <li id="item_{{info.0}}">
        <div class="inner">
          <p class="collectInfo"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="{{info.5}}"></span> <span class="tip_j">{{info.9}}</span> <span class="tip_i">/</span><span class="tip"> {{info.7}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.11}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td></tr>
         {% endfor %}
        <tr><td><div id="colunmNotice2"><h2>存在分歧</h2></div></td><td></td></tr>
         {% for info in dic.info2%}
     <tr><td>
      <li id="item_{{info.0}}" class="item odd clearit"> <a href="https://bgm.tv/subject/{{info.0}}" class="subjectCover cover ll"> <span class="image"> <img src="{{info.1}}" class="cover"> </span> <span class="overlay"></span> </a>
        <div class="inner">
          <h3> <a href="https://bgm.tv/subject/{{info.0}}" class="l">{{info.2}}</a> <small class="grey">{{info.3}}</small> </h3>
          <p class="info tip"> {{info.12}} </p>
          <p class="collectInfo"> <span class="{{info.4}}"></span> <span class="tip_j">{{info.8}}</span> <span class="tip_i">/</span><span class="tip"> {{info.6}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.10}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td><td>
     <li id="item_{{info.0}}">
        <div class="inner">
          <p class="collectInfo"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="{{info.5}}"></span> <span class="tip_j">{{info.9}}</span> <span class="tip_i">/</span><span class="tip"> {{info.7}} </span></p>
          <div id="comment_box">
            <div class="item">
              <div class="text_main_even" style="float:none;">
                <div class="text"> {{info.11}}</div>
                <div class="text_bottom"></div>
              </div>
            </div>
          </div>
        </div>
      </li>
     </td></tr>
         {% endfor %}
     <tr><td>
     </table>

        {% elif 'error' in dic %}
            <div class="columns clearit">
            <div id="colunmNotice">
            <img src="/static/404.png" class="ll">
            <div class="message">
            <h2>呜咕，出错了</h2>
            <p class="text">您输入的地址格式不对或者没有查询到该用户的信息<br/><br/><br/><br/><br/><br/><br/>
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/></p>
            </div>
            </div>
            </div>
        {% else %}
            <div class="columns clearit">
            <div id="colunmNotice">
            <div class="message">
            <h2>使用说明</h2>
            <p class="text">1、在右上角输入框里输入两个用户的id，以空格隔开，回车进行比对<br/>
                            2、只输入一个用户的id，则程序会再随机选取一个用户<br/>
                            3、什么都不输入，则随机选两个用户<br/>
                            4、爬取速度取决于你和此用户“已看”的动画总数的多少，所需时间从几秒到几十秒不等，请保持冷静<br/><br/><br/><br/><br/><br/>
                <br/><br/><br/><br/><br/><br/><br/><br/></p>
            </div>
            </div>
            </div>
        {% endif %}
    </ul>
  </div>
</div>
<div id="footer">
<ul id="footerLinks" class="clearit">
<li class="first">
<dl>
<dd><a href="https://greasyfork.org/zh-CN/scripts/36016-bangumi-
    %E7%94%A8%E6%88%B7%E4%B8%AA%E6%80%A7%E5%8C%96%E8%84%9A%E6%9C%AC" target="_blank">戳我</a>安装油猴脚本，
    <a href="https://bgm.tv/group/topic/344128" target="_blank">戳我</a>反馈bug和意见</dd>
</dl>
</li>
</ul>
</div>
</div>

</body>
</html>