<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
<title>bgmtools</title>

<link rel="shortcut icon" href="https://bgm.tv/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="https://bgm.tv/img/ico/ico_ios.png">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body class="bangumi">
<div id="wrapperNeue" class="wrapperNeue">
<div id="headerNeue2">
<div class="headerNeueInner clearit">
<div id="bgmusume" class="bg musume_6"></div>
<a href="https://bgm.tv/" class="logo">Bangumi 番组计划</a>
<input type="checkbox" id="navMenuNeueToggle">
<label for="navMenuNeueToggle" class="menuCompact"></label>
<div id="navNeue2">
<div id="menuNeue">
<ul id="navMenuNeue" class="clearit">
<li><a name="anime" href="/bgmtools/multitag/anime" class="top chl"><span>动画</span></a></li>
<li><a name="book" href="/bgmtools/multitag/book" class="top chl"><span>书籍</span></a></li>
<li><a name="music" href="/bgmtools/multitag/music" class="top chl"><span>音乐</span></a></li>
<li><a name="game" href="/bgmtools/multitag/game" class="top chl"><span>游戏</span></a></li>
<li><a name="real" href="/bgmtools/multitag/real" class="top chl"><span>三次元</span></a></li>
<li><a href="/bgmtools/contrast" class="top"><span>对比</span></a></li>
<li><a href="/bgmtools/multitag" class="top focus"><span>多标签</span></a></li>
<li><a href="/bgmtools/review" class="top"><span>时光机</span></a>
<div class="clear"></div><ul class="clearit">
<li><a href="/bgmtools/review/chart" class="nav">评分走势图</a></li>
<li><a href="/bgmtools/review/list" class="nav">历史排行榜</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>
</div>
<div id="main" class="png_bg">
<div id="header" class="part1">
<h1>Bangumi {{ cat_chs }}标签</h1>
</div>
<div id="header" class="part2">
<h1>已选标签:</h1>
<ul id="result">

</ul>
</div>

<div class="columns clearit" style="float: left">
<div id="columnA" class="column part1">
<div id="tagList">

</div>
<div id="multipage1" class="page_inner">

</div>
</div>

<div id="columnSubjectBrowserA" class="column part2">
<div id="browserTools" class="clearit">
<a id="sortbyname 0" href="javascript:void(0);" class="l focus">按名称排序</a> ·
<a id="sortbydate 1" href="javascript:void(0);" class="l">按日期排序</a> ·
<a id="sortbyrank 0" href="javascript:void(0);" class="l">按排名排序</a> ·
<a id="sortbyvotes 1" href="javascript:void(0);" class="l">按评价数排序</a>

</div> <div class="section">
<ul id="browserItemList" class="browserFull">

</ul>
<div class="clearit">
<div id="multipage2" class="page_inner">

</div></div>
</div>
</div>
<div id="columnSubjectBrowserB" class="column">
<div class="sideInner">
<h2 class="subtitle">标签搜索</h2>
<ul class="grouped clearit">
<li>
<form id="tagSearch" name="tagSearch">
<div class="inner clearit">

<input type="text" id="search_text" size="19" class="inputtext" placeholder="空格或逗号隔开">
<div class="search">
<input id="search" value="搜索" class="btnPink">
</div>
</div>
</form>
</li>
</ul>

{% if cat == 'anime' %}
<h2 class="subtitle">类别</h2>
<ul class="grouped clearit">
<dl id="cat">
<li><a href="javascript:void(0);" class="l focus"><span>全部</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>TV</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>WEB</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>OVA</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>剧场版</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>其他</span></a></li>
</dl>
</ul>
{% elif cat == 'book' %}
<h2 class="subtitle">类别</h2>
<ul class="grouped clearit">
<dl id="cat">
<li><a href="javascript:void(0);" class="l focus"><span>全部</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>漫画</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>小说</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>画集</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>其他</span></a></li>
</dl>
</ul>
{% elif cat == 'music' %}
{% elif cat == 'game' %}
<h2 class="subtitle">类别</h2>
<ul class="grouped clearit">
<dl id="cat">
<li><a href="javascript:void(0);" class="l focus"><span>全部</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PC</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Mac OS</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PS4</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Xbox One</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Nintendo Switch</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Wii U</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PS3</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Xbox360</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Wii</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PS Vita</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>3DS</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>iOS</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Android</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>街机</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>NDS</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PSP</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PS2</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>XBOX</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>GameCube</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Dreamcast</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Nintendo 64</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>PlayStation</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>SFC</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>FC</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>WonderSwan</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>WonderSwan Color</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>NEOGEO Pocket Color</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>GBA</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>GB</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>Virtual Boy</span></a></li>
</dl>
</ul>
{% elif cat == 'real' %}
<h2 class="subtitle">类别</h2>
<ul class="grouped clearit">
<dl id="cat">
<li><a href="javascript:void(0);" class="l focus"><span>全部</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>日本</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>美国</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>英国</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>中国大陆</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>香港</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>台湾</span></a></li>
<li><a href="javascript:void(0);" class="l"><span>其他</span></a></li>
</dl>
</ul>
{% endif %}

<h2 class="subtitle">时间</h2>
<ul id="airTimeMenu" class="grouped clearit">
<li class="time"><a id="timeall" href="javascript:void(0);" class="l focus">&nbsp;&nbsp;全部</a></li>
<li class="airYear"><a id="2018" href="javascript:void(0);" class="l">2018年</a></li>
<li class="airYear"><a id="2017" href="javascript:void(0);" class="l">2017年</a></li>
<li class="airYear"><a id="2016" href="javascript:void(0);" class="l">2016年</a></li>
<li id="futureAirTime"><a href="javascript:void(0)" class="l">来年们</a></li>
<li class="airYear"><a id="2015" href="javascript:void(0);" class="l">2015年</a></li>
<li class="airYear"><a id="2014" href="javascript:void(0);" class="l">2014年</a></li>
<li class="airYear"><a id="2013" href="javascript:void(0);" class="l">2013年</a></li>
<li id="pastAirTime"><a href="javascript:void(0)" class="l">往年们</a></li>
<li class="airYear"><a id="2012" href="javascript:void(0);" class="l">2012年</a></li>
<li class="airYear"><a id="2011" href="javascript:void(0);" class="l">2011年</a></li>
<li class="airYear"><a id="2010" href="javascript:void(0);" class="l">2010年</a></li>
</ul>

<h2 class="subtitle part2">当前热门标签</h2>
<ul class="grouped clearit part2">
<dl id="select" class="part2">

</dl>
</ul>

<h2 class="subtitle">更多</h2>
<ul class="grouped clearit">
<li><a href="javascript:void(0);" id="alltag" class="l">浏览全部{{ cat_chs }}标签</a></li>
<li><a href="javascript:void(0);" id="allanime" class="l">浏览全部{{ cat_chs }}</a></li>
</ul>
</div>
</div>
</div>

<div id="footer">
<ul id="footerLinks" class="clearit">
<li class="first">
<dl>
<dd><a href="https://greasyfork.org/zh-CN/scripts/34999-%E5%A2%9E%E5%8A%A0-
    %E5%A4%9A%E6%A0%87%E7%AD%BE%E6%90%9C%E7%B4%A2%E6%8C%89%E9%92%AE" target="_blank">戳我</a>安装油猴脚本，
    <a href="https://bgm.tv/group/topic/344240" target="_blank">戳我</a>反馈bug和意见</dd>
</dl>
</li>
</ul>
</div>
</div></div>

<script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/multitag-script.js"></script>
<script type="text/javascript">var cat={{ cat_focus|safe }};$("#navMenuNeue").find("[name='" + cat + "']").addClass("focus");</script>
</body></html>