<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
<title>bgmtools</title>

<link rel="shortcut icon" href="https://bgm.tv/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="https://bgm.tv/img/ico/ico_ios.png">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body class="bangumi">
<div id="wrapperNeue" class="wrapperNeue">
<div id="headerNeue2">
<div class="headerNeueInner clearit">
<div id="bgmusume" class="bg musume_1" style="background-position: 0 0;"></div>
<a href="https://bgm.tv/" class="logo">Bangumi 番组计划</a>
<input type="checkbox" id="navMenuNeueToggle">
<label for="navMenuNeueToggle" class="menuCompact"></label>
<div id="navNeue2">
<div id="menuNeue">
<ul id="navMenuNeue" class="clearit">
<li><a name="anime" href="/bgmtools/review/list/anime" class="top chl"><span>动画</span></a></li>
<li><a name="book" href="/bgmtools/review/list/book" class="top chl"><span>书籍</span></a></li>
<li><a name="music" href="/bgmtools/review/list/music" class="top chl"><span>音乐</span></a></li>
<li><a name="game" href="/bgmtools/review/list/game" class="top chl"><span>游戏</span></a></li>
<li><a name="real" href="/bgmtools/review/list/real" class="top chl"><span>三次元</span></a></li>
<li><a href="/bgmtools/contrast" class="top"><span>对比</span></a></li>
<li><a href="/bgmtools/multitag" class="top"><span>多标签</span></a></li>
<li><a href="/bgmtools/review" class="top focus"><span>时光机</span></a>
<div class="clear"></div><ul class="clearit">
<li><a href="/bgmtools/review/chart" class="nav">评分走势图</a></li>
<li><a href="/bgmtools/review/list" class="nav">历史排行榜</a></li>
</ul>
</li>
<li><a href="https://bgm.tv/group/topic/345856" class="top"><span>漫海拾贝</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div id="main" class="png_bg" style="width: 1100px">
<div id="header">
<h1>Bangumi 时光机</h1>
</div>

<div class="columns clearit" style="float: left; width: 1100px">
<div class="column part1">
<div id="colunmNotice" style="width: 500px">
<div class="review message" style="margin: 0 0 0 10px;">
<h2>使用说明</h2>
<p class="text">1、选择要查看排行榜的时期即可<br/>
                2、再次点击排序方式可以查看逆序结果<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/></p>
</div>
</div>
</div>

<div id="columnSubjectBrowserA" class="column part2">
<div id="browserTools" class="clearit">
<a name="rank-0" href="javascript:void(0);" class="l focus">按排名排序</a> ·
<a name="name-0" href="javascript:void(0);" class="l">按名称排序</a> ·
<a name="votes-1" href="javascript:void(0);" class="l">按评价数排序</a> ·
<a name="people-1" href="javascript:void(0);" class="l">按标记数排序</a>
</div> <div class="section">
<ul id="browserItemList" class="browserFull">

</ul>
<div class="clearit">
<div id="multipage" class="page_inner">

</div></div>
</div>
</div>

<div id="columnSubjectBrowserB" class="column">
<div class="sideInner">
<h2 class="subtitle">时间</h2>
<ul id="airTimeMenu" class="grouped clearit">
<li class="time"><a id="last" href="javascript:void(0);" class="l">&nbsp;&nbsp;最新</a></li>
<li class="airYear"><a id="2018" href="javascript:void(0);" class="l">2018年</a></li>
<li class="airYear"><a id="2017" href="javascript:void(0);" class="l">2017年</a></li>
<li class="airYear"><a id="2016" href="javascript:void(0);" class="l">2016年</a></li>
<li id="futureAirTime"><a href="javascript:void(0)" class="l">来年们</a></li>
<li class="airYear"><a id="2015" href="javascript:void(0);" class="l">2015年</a></li>
<li class="airYear"><a id="2014" href="javascript:void(0);" class="l">2014年</a></li>
<li class="airYear"><a id="2013" href="javascript:void(0);" class="l">2013年</a></li>
<li id="pastAirTime"><a href="javascript:void(0)" class="l">往年们</a></li>
<li class="airYear"><a id="2012" href="javascript:void(0);" class="l">2012年</a></li>
<li class="airYear"><a id="2011" href="javascript:void(0);" class="l">2011年</a></li>
<li class="airYear"><a id="2010" href="javascript:void(0);" class="l">2010年</a></li>
</ul>

</div>
</div>
</div>

<div id="footer">
<ul id="footerLinks" class="clearit">
<li class="first">
<dl>
<dd><a href="https://greasyfork.org/zh-CN/scripts/38343-bangumi%E6%97%B6%E5%85%89%E6%9C%BA" target="_blank">戳我</a>安装油猴脚本，
    <a href="https://bgm.tv/group/topic/345035" target="_blank">戳我</a>反馈bug和意见</dd>
</dl>
</li>
</ul>
</div>
</div></div>

<script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/review_list-script.js"></script>
<script type="text/javascript">var cat={{ cat_focus|safe }};$("#navMenuNeue").find("[name='" + cat + "']").addClass("focus");</script>

</body></html>