<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" name="viewport">
<title>bgmtools</title>

<link rel="shortcut icon" href="https://bgm.tv/img/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon-precomposed" href="https://bgm.tv/img/ico/ico_ios.png">

<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body class="bangumi">
<div id="wrapperNeue" class="wrapperNeue">
<div id="headerNeue2">
<div class="headerNeueInner clearit">
<div id="bgmusume" class="bg musume_1" style="background-position: 0 0;"></div>
<a href="https://bgm.tv/" class="logo">Bangumi 番组计划</a>
<input type="checkbox" id="navMenuNeueToggle">
<label for="navMenuNeueToggle" class="menuCompact"></label>
<div id="navNeue2">
<div id="menuNeue">
<ul id="navMenuNeue" class="clearit">
<li><a class="top" style="width: 244px;"></a></li>
<li><a href="/bgmtools/contrast" class="top"><span>对比</span></a></li>
<li><a href="/bgmtools/multitag" class="top"><span>多标签</span></a></li>
<li><a href="/bgmtools/review" class="top focus"><span>时光机</span></a>
<div class="clear"></div><ul class="clearit">
<li><a href="/bgmtools/review/chart" class="nav">评分走势图</a></li>
<li><a href="/bgmtools/review/list" class="nav">历史排行榜</a></li>
</ul>
</li>
<li><a href="https://bgm.tv/group/topic/345856" class="top"><span>漫海拾贝</span></a></li>
</ul>
</div>
</div>
</div>
</div>
<div id="main" class="png_bg" style="width: 1100px">
<div id="header">
<h1>Bangumi 时光机</h1>
</div>

<div class="columns clearit" style="float: left; width: 1100px">
<div class="column part1">
<div id="colunmNotice" style="width: 500px">
<div class="review message" style="margin: 0 0 0 10px;">
<h2>使用说明</h2>
<p class="text">1、本工具旨在利用现有数据尝试还原Bangumi条目的历史评分<br/>
                2、可以选择按条目检索或者按名次检索<br/>
                3、也可以在顶部 时光机 下拉栏里找到 历史排行榜<br/>
                4、或者点击页脚链接获取更多信息<br/></p>
</div>
</div>
</div>

<div id="columnSubjectBrowseA" class="column part2">
<div id="score_chart" class="part1" style="width:800px;height:420px"></div>
<div id="multi-score_chart" class="part2" style="width:800px;height:420px"></div>
<div id="multi-rank_chart" class="part2" style="width:800px;height:420px"></div>
<div id="multi-people_chart" class="part2" style="width:800px;height:420px"></div>
</div>
<div id="columnSubjectBrowserB" class="column">
<div class="sideInner">
<h2 class="subtitle">按条目检索</h2>
<ul class="grouped clearit">
<li>
<textarea id="id_input" class="quick jq_watermark" name="id_input" required placeholder="条目url或id  若多个，以空格或回车隔开"
          style="margin: 3px 0; width: 228px; height: 32px;"></textarea>
</li>
</ul>

<h2 class="subtitle">按名次检索 <select id="review_select">
<option value="anime" selected="selected">动画</option>
<option value="book">书籍</option>
<option value="game">游戏</option>
<option value="music">音乐</option>
<option value="real">三次元</option>
</select></h2>
<ul class="grouped clearit">
<li>
<textarea id="rank_input" class="quick jq_watermark" name="id_input" required placeholder="当前排名前十名条目：<br/>
1~10<br/>历史上排名第一名和后三名条目：<br/>2017.7.16 1 -1~-3"
          style="margin: 3px 0; width: 228px; height: 68px;"></textarea>
</li>
</ul>

<h2 class="subtitle">时间段 / 可选</h2>
<ul class="grouped clearit">
<li>
<textarea id="period_input" class="quick jq_watermark" name="id_input" required placeholder="2017<br/>
2017~<br/>~2017<br/>2017.7<br/>2017.6~2017.8<br/>2008 2017~2017.7.16"
          style="margin: 3px 0; width: 228px; height: 104px;"></textarea>
</li>
</ul>

<ul class="grouped clearit">
<div class="light_odd">
<span class="tip">
<input type="hidden">
<table align="center" width="99%">
<tbody>
<tr><td><label><input id="check" name="public" type="checkbox" checked value="0">只显示有排名之后的数据</label></td></tr>
</tbody></table>
</span>
</div>
</ul>
<form id="historySubmit" name="historySubmit">
<div class="inner clearit">
<a id="alert" style="color: #F09199; font-size: 14px; padding: 20px"></a>
<div class="submit">
<input id="history_submit" value="确定" class="btnPink" readonly unselectable="on">
</div>
</div>
</form>
</div>
</div>
</div>

<div id="footer">
<ul id="footerLinks" class="clearit">
<li class="first">
<dl>
<dd><a href="https://greasyfork.org/zh-CN/scripts/38343-bangumi%E6%97%B6%E5%85%89%E6%9C%BA" target="_blank">戳我</a>安装油猴脚本，
    <a href="https://bgm.tv/group/topic/345035" target="_blank">戳我</a>反馈bug和意见</dd>
</dl>
</li>
</ul>
</div>
</div></div>

<script type="text/javascript" src="/static/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/static/review_chart-script.js"></script>
<script type="text/javascript" src="/static/highcharts.js"></script>
<script type="text/javascript" src="/static/exporting.js"></script>
<script type="text/javascript" src="/static/highcharts-zh_CN.js"></script>
<script type="text/javascript" src="/static/jquery.watermark.js"></script>

</body></html>